@{

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <main>
        <section>
            <div class="input-container">
                <a href="https://www.linkedin.com/in/tolgaozkaya/">
                    <div class="image-container">
                        <img id="input-img" src="https://media.licdn.com/dms/image/D4D03AQF-aVqu5KP3EQ/profile-displayphoto-shrink_800_800/0/1679017039658?e=2147483647&v=beta&t=fzSamAXzE0lonObfqbgZBH6kXBJLiRu6E6hA_Bx8V0Q"
                             alt="Person" style="width: 200px; height: 200px; border-radius: 60%; margin-bottom: 10px;">
                        <h3>Tolga Özkaya</h3>
                        <p>Backend Developer</p>
                    </div>
                </a>
                <p>
                    A Backend Developer who loves to learn new things. I'm improving myself day by day
                    and I am a person who makes great efforts to gain competence in his field.
                </p>
                <div class="button-container">
                    <a href="https://www.linkedin.com/in/tolgaozkaya/" class="button linkedin-button">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://github.com/tolgaozkaya" class="button github-button">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </div>
                <div class="contact-container">
                    <div class="contact-section">
                        <i class="fas fa-map-marker-alt"></i>
                        <div>
                            <h4>Address</h4>
                            <p>ANKARA, Turkey 06940</p>
                        </div>
                    </div>
                    <div class="contact-section">
                        <i class="fas fa-envelope"></i>
                        <div>
                            <h4>Email</h4>
                            <p>
                                <a href="mailto:tolgaozkaya@email.com">
                                    tolgaozkaya.2002@gmail.com
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="contact-section">
                        <i class="fas fa-phone"></i>
                        <div>
                            <h4>Phone</h4>
                            <p>+905070220698</p>
                        </div>
                    </div>
                    <div class="contact-section">
                        <i class="fas fa-globe"></i>
                        <div>
                            <h4>Website</h4>
                            <p>
                                <a href="https://www.tolgaozkaya.com">
                                    www.tolgaozkaya.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>